<!DOCTYPE html>
<html lang="en">
    <body>
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Join Your Bar</h1>
                <div class="card mb-4">
                    <div class="card-body">
                    <table id="datatablesSimple">
                            <thead>
                                <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                                <th>Status</th>
                                <th>Join</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                                <th>Status</th>
                                <th>Join</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <% @bars.each do |c| %>
                                <tr>
                                    <td><%= c.name %></td>
                                    <td><%= c.address %></td>
                                    <td><%= c.city %></td>
                                    <td><%= c.state %></td>
                                    <td><%= c.zip %></td>
                                    <td><%= c.status %></td>
                                    <td><%= link_to "<button>Join</button>".html_safe, {:action => 'index', :id => c.id} -%></td>
                                </tr
                                <% end %>
                            </tbody>
                            </table>  
                            
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>