<!DOCTYPE html>
<html lang="en">
    <body>
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4"><%= @bar.name %></h1>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-header">Tech Bar Status</div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="card-body">Status: <%= @bar.status %></div>
                                <div class="card-body">Hours: <%= @open %>- <%= @close %></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-header">Modify Tech Bar Status</div>
                            <div class="d-flex align-items-center justify-content-between">
                            <%= link_to 'Toggle Open/Closed', {:action => 'changeStatus', :id => params[:id]}, method: "get", :class => "text-white stretched-link"%> 
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-header">Modify Tech Bar Hours</div>
                            <div class="d-flex align-items-center justify-content-between">
                            <%= link_to '-', {:action => 'changeHours', :id => params[:id], :time => "Open", :direction => "-"}, method: "get", :class => "small text-white"%> 
                            <div class="small text-white">Open</div>
                            <%= link_to '+', {:action => 'changeHours', :id => params[:id], :time => "Open", :direction => "+"}, method: "get", :class => "small text-white"%> 
                            <%= link_to '-', {:action => 'changeHours', :id => params[:id], :time => "Close", :direction => "-"}, method: "get", :class => "small text-white"%> 
                            <div class="small text-white">Close</div>
                            <%= link_to '+', {:action => 'changeHours', :id => params[:id], :time => "Close", :direction => "+"}, method: "get", :class => "small text-white"%> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                Daily Tickets Closed 
                            </div>
                            <div class="card-body"><%= line_chart Ticket.where(bar_id: @bar.id).group_by_day(:dateResolved, last: 30).count, width: "400px", height: "200px" %></div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                Monthly Tickets Closed 
                            </div>
                            <div class="card-body"><%= line_chart Ticket.where(bar_id: @bar.id).group_by_month(:dateResolved, last: 12).count, width: "400px", height: "200px" %></div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Ticket Queue
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Issue</th>
                                    <th>Device</th>
                                    <th>State</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Issue</th>
                                    <th>Device</th>
                                    <th>Status</th>
                                </tr>
                            </tfoot>
                            <tbody>
                            <% @tickets.each do |c| %>
                                <tr>
                                    <td><%= c.name %></td>
                                    <td><%= c.device %></td>
                                    <td><%= c.issue %></td>
                                    <td><%= c.status %></td>
                                </tr
                            <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Open New Ticket</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <%= link_to 'Click Here', {:action => 'openTicket', :id => params[:id]}, :class => "small text-white" %>   
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body">Close Existing Ticket</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <%= link_to 'Click Here', {:action => 'closeTicket', :id => params[:id]}, :class => "small text-white" %>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <%= javascript_include_tag "/assets/chart-area-demo" %>

    </body>
</html>
