<!DOCTYPE html>
<html lang="en">
    <body>
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Associates in Line</h1>
                <div class="card mb-4">
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                <th>Name</th>
                                <th>Device</th>
                                <th>Issue</th>
                                <th>Spot</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                <th>Name</th>
                                <th>Device</th>
                                <th>Issue</th>
                                <th>Spot</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <% @lines.each do |c| %>
                                <tr>
                                    <td><%= c.name %></td>
                                    <td><%= c.device %></td>
                                    <td><%= c.issue %></td>
                                    <td><%= c.spot + 1 %></td>
                                    <td><%= link_to "<button>Create Ticket</button>".html_safe, {:action => 'createTicket', :id => c.id} -%></td>
                                </tr
                                <% end %>
                            </tbody>
                            </table>  
                            
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>