<!DOCTYPE html>
<html lang="en">
    <body>
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                    <div class="card-body">
                                        <%= form_with url: "/login" do |f| %>
                                            <div class="form-floating mb-3">
                                                <%# <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                                                <label for="inputEmail">Email address</label> %>
                                                <%= f.text_field :username, {class:"form-control"}%>
                                                <%= f.label :username%>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <%# <input class="form-control" id="inputPassword" type="password" placeholder="Password" />
                                                <label for="inputPassword">Password</label> %>
                                                <%= f.password_field :password, {class: "form-control"}%>
                                                <%= f.label :password%>
                                            </div>
                                            <div class="d-grid">
                                                <%# <a class="small" href="password.html">Forgot Password?</a> %>
                                                <%# <a class="btn btn-primary">Login</a> %>
                                                <%= f.submit "Login", {class: "btn btn-primary btn-block"}%>
                                                </div>
                                        <%end%>

                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="signup">Need an account? Sign up!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
    </body>
</html>
