        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                    <div class="card-body">
                                        <%= form_for @user do |f| %>
                                            <div class="form-floating mb-3">
                                                <%# <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                                                <label for="inputEmail">Email address</label> %>
                                                <%= f.text_field :username, {class: "form-control"}%>
                                                <%= f.label :username %>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <%# <input class="form-control" id="inputPassword" type="password" placeholder="Create a password" />
                                                        <label for="inputPassword">Password</label> %>
                                                        <%= f.password_field :password, {class: "form-control"}%>
                                                        <%= f.label :password%>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <%# <input class="form-control" id="inputPasswordConfirm" type="password" placeholder="Confirm password" />
                                                        <label for="inputPasswordConfirm">Confirm Password</label> %>
                                                        <%= f.password_field :password_confirmation, {class: "form-control"}%>
                                                        <%= f.label :Confirm_Password%>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid">
                                                    <%# <a class="btn btn-primary btn-block" href="login.html">Create Account</a> %>
                                                    <%= f.submit "Create Account", {class: "btn btn-primary btn-block"}%>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="/">Have an account? Go to login</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>