<center>
<h1>You are in Queue for:</h1>
<h2>Otis Corley Tech Bar</h2>
<p>Address: 2501 SE Otis Corley Dr, Bentonville, AR 72712</p>
<p>Hours: 9 AM to 5 PM</p>
<p>There are 3 people ahead of you</p>
<p>Estimated Wait: 45 min</p>
<button type="button">Reschedule</button><button type="button button2">Leave Queue</button>
</center>