<!DOCTYPE html>
<html lang="en">
    <body>
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Welcome!</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Your Info
                    </div>
                    <div class="card-body">

                    <%= form_tag :action => 'createSpot' do %>
                        <%= hidden_field_tag :id, params[:id] %>
                    <p><label for = "name">Name</label><br>
                    
                    <%= text_field 'lines', 'name', class: 'normal-input', placeholder: "John Doe" %></p>
                    <p><label for = "device">Device</label><br>
                    
                    <%= select 'lines', 'device', "<option>Phone</option><option>Tablet</option><option>Laptop</option><option>Other</option>".html_safe, {}, {:class => 'normal-input'} %></p>
                    <p><label for = "issue">Issue</label><br>
                    
                    <%= text_area 'lines', 'issue', class: 'issue-input', placeholder: "Bluetooth not working" %></p>
                    
                    <%= submit_tag "Join", class: "button-7" %>
                    
                    <% end -%>
                    <br>
                    <%= link_to 'Back', {:action => 'list'} %>     
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>