<!DOCTYPE html>
<html lang="en">
    <body>
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Bars</h1>
                <br>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Tech Bars
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                                <th>Status</th>
                                <th>Size</th>
                                <th>Estimated Distance</th>
                                <th>Join</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                                <th>Status</th>
                                <th>Size</th>
                                <th>Estimated Distance</th>
                                <th>Join</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <% @bars.each do |c| %>
                                <tr>
                                    <td><%= c.name %></td>
                                    <td><%= c.address %></td>
                                    <td><%= c.city %></td>
                                    <td><%= c.state %></td>
                                    <td><%= c.zip %></td>
                                    <td><%= c.status %></td>
                                    <td><%= c.size %></td>
                                    <td><%= c.distance_to([@user_lat,@user_long], :mi) %></td>
                                    <td><%= link_to "<button>Join</button>".html_safe, {:action => 'enterQueue', :id => c.id} -%></td>
                                </tr
                                <% end %>
                            </tbody>
                            </table>  
                            
                    </div>
                </div>
                <p>Note: Distance is based off of city and could be inaccurate, only use to get a rough estimate of what bars are close to you. Also on celluar network please fully disregard the estimate.</p>
            </div>
        </main>
    </body>
</html>
