<!DOCTYPE html>
<html lang="en">
    <body>
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4"><%= params[:message]%></h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Your Queue
                    </div>
                    <div class="card-body">
                        <center>
                        <h1>You are in Queue for:</h1>
                        <h2><%= @bar.name %></h2>
                        <p>Address: <%= @bar.address %>, <%= @bar.city %>, <%= @bar.state %> <%= @bar.zip %></p>
                        <p>Hours: <%= @open %> to <%= @close %></p>
                        <p>There <%= @grammar1 %> <%= @line.spot %> <%= @grammar2 %> ahead of you</p>
                        <p>Estimated Wait: <%= @line.spot * 15 + 15%> minutes</p>
                        <%= link_to "<button>Leave Queue</button>".html_safe, {:action => 'leave', :id => @line.id, :bar_id => @line.bar_id, :spot => @line.spot }%></p>
                        </center>      
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>