


<!DOCTYPE html>
<html lang="en">
    <style>
    hr.rounded{
        border-top: 8px solid #bbb;
        border-radius: 5px;
    }
    </style>

    <head>
        <style>
            footer{
                /* position: fixed; */
                width: 100%;
                bottom: 0;
            }
        </style>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>TechBarScheduler</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <%= stylesheet_link_tag    "styles" %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
    </head>
    <body>
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/">Walmart Tech Bar Scheduler</a>
            <label class="ms-auto"></label>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
            <%= javascript_include_tag "datatables-simple-demo" %>
            <%= javascript_include_tag "scripts" %>
        </nav>
        <% flash.each do |type, msg| %>
            <div class="alert alert-<%= type%>">
                <center><%= msg%></center>
            </div>
        <%end%>
        <% if logged_in?%>
        <%# added the & on 65 to fix heroku nil:NilClass issue %>
            <center><h1>Welcome <%=current_user&.username%></h1></center>
            <hr class="rounded">
            <% else %>
            
        <%end%>
        <%= yield %>
    </body>

    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Team 9 Capstone Walamart Tech Bar Scheduler</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</html>